{% extends 'page.tpl.html' %}

{% block title %} {{ page_title }} {% endblock %}

{% block header %}

<div class="jumbotron mb-0">
  <h1>{{ page_h1 }}</h1>
  <p>On this page you can manage orders.</p>
</div>

{% endblock %}

{% block content %}

<div class="container">
  <div class="forms d-flex justify-content-between">
    <div class="form pr-5 w-50">
      <h3>Add Order</h3>
      <form action="/orders/add" method="post">
        <input type="hidden" name="redirect" value="{{ current_path }}">

        <div class="form-group">
          <label for="table">Table:</label>
          <select class="form-control" name="table" id="table">
            {% for table in tables %}
              <option value="{{ table.uuid }}">Table #{{ table.id }}</option>
            {% endfor %}
          </select>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </div>
  </div>
  <div class="menu mt-5">
    <h2>Orders</h2>
    <ul class="tables">
      {% for order in orders %}
        <li>
          <div class="d-flex">
            <h3>Order {{ order.uuid }} for table #{{ order.table.id }}. Status: "{{ order.status }}".</h3>
            <div>
              <a href="/orders/{{ order.uuid }}">
                <button type="submit" class="btn btn-sm btn-primary ml-3">View</button>
              </a>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}